body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background-color:#f5f5f5;
}

.container{
  padding:18px;
  text-align: center;
}


select, input {
  margin:10px;
  padding:8px;
  border-radius:8px;
}

.liste{
  display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin-top:20px;
    gap:15px;
}